#todo-error{
  color: red;
  font-size: 2em;
}


body {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.quote {
  background-color: lightblue;
  font-size: xx-large;
}